/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* CONTAINER CENTRAL */
.container {
    background-color: #ffffff;
    width: 90%;
    max-width: 900px;
    text-align: center;
    padding: 40px 30px;
}

/* IMAGEM */
.banner img {
    width: 80%;
    max-width: 300px;
    margin-bottom: 30px;
}

/* TÍTULO */
h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #222;
}

.destaque {
    color: #1e73e8;
    font-weight: 600;
}

/* PARÁGRAFOS */
p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.6;
}

/* LINKS */
.links {
    margin-top: 25px;
}

.links a {
    text-decoration: none;
    color: #1e73e8;
    margin: 0 15px;
    font-size: 14px;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
}
